.btnCircle {
    -fx-background-radius: 25px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    /*-fx-background-color: lavender;*/
}

.setTextAlign {
    /*-fx-font-size: 30px;*/
    -fx-text-alignment: center;
}

.setBackground {
    -fx-background-image: url("resources/Sunshine-And-Nutrients.jpg");
    -fx-background-size: 100%;
    -fx-background-radius: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
}